.home-container {
  margin: 20px auto;
  text-align: center;
  width: 90%;
}

.home-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  margin: 0 auto;
  max-width: 980px;
  padding: 0;
}

.home-list__element {
  border-radius: 5px;
  box-shadow: 6px 6px 10px #909090;
  list-style-type: none;
  text-transform: capitalize;
}
.home-list__element:hover {
  border: 1px solid #e2e2e2;
  box-shadow: 9px 9px 12px #909090;

}
.home-list__image {
  display: block;
  margin: 10px auto;
  max-width: 200px;
  width: 80%;
}